
.navegation-bar{
    height:90px;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%);
    z-index: 1;
    position: fixed;
}
.link-nav{
  cursor: pointer;
}
.nav{
  color:#fff !important;
  text-decoration: none;
  font-size:18px;
  font-weight:600;
  gap: 30px;
}
.btn-calculadora{
  background: #2D2D8D!important;
  text-transform: none;
  letter-spacing: normal;
}
.body-box{
  background-color: #ECF6FE!important;
}
.login-box{
    background: linear-gradient(-90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%);
}
.welcome{
  font-family: 'Inter'!important;
  font-style: normal!important;
  font-weight: 600!important;
  font-size: 23px!important;
  line-height: 28px!important;
  padding:30px 0;
  color: #2D2D8D!important;
}

.custom-icon {
    color: #2D2D8D !important;
  }

  .cursor-pointer{
    cursor: pointer;
    color: #2D2D8D !important;
    text-transform: none;
    letter-spacing: normal;
  }
  .cursor-pointer:hover{
    text-decoration: underline;
  }
  .recuperar{
    color: #fff !important;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%);
    text-transform: none !important;
    letter-spacing: normal;
    padding: 18px !important;
    font-size: 18px;
    border-radius:8px !important;
    --v-btn-height: 0 !important;
    width: 220px;
  }
  /* .recuperar:hover{
    color:#fff !important;
    border-radius:8px !important;
  } */
  .perfil{
    border: 3px solid #E1B03E;
    border-radius:100%;
    padding: 2px;
    max-width: 70px;
    max-height: 70px;
  }
  .info{
    color: #2D2D8D!important;
  }
  .info h2 {
    margin-top: -10px!important;
    font-weight: 600!important;
  }
  .info span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
  }

  .header-tabla{
    height: 40px;
    color:#fff;
    font-size:20px;
    font-weight:600;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%);
  }
  .listado-tabla{
    color: #2D2D8D!important;
  }
  .listado-tabla h{
    font-weight: 600 !important;
  }
  
  .btn-tabs{
    text-transform: none !important;
    letter-spacing: normal;
    font-size: 20px;
    font-weight: 400;
    color: #2D2D8D!important;
  }
  .divisas .v-window-item{
    min-height: 384px !important;
  }
  .divisas-apertura_caja{
    min-height: 450px;
    max-height: 450px;
  }
  .contenedor_divisas{
    overflow-x: auto;
    max-height: 350px;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: #2D2D8D rgba(0,0,0,0.5);
    scrollbar-width: 10px !important;
    
  }

  

  .v-field--variant-filled .v-field__overlay {
    background-color: transparent;
  }
  .v-field__field {
    align-items: center;
  }

  




  .divisas .v-field__input, .divisas .v-field.v-field{
    background:#f1f1f1;
    border-radius:5px;
    min-height: 40px !important;
    padding: 0px !important;
    padding-left: 10px !important;
    align-items: center !important;
    justify-items: flex-start;
    display: flex !important;
    color:#2D2D8D;
    font-weight: 600;
  }
  .divisas .v-field__prepend-inner, .divisas .v-field__append-inner, .divisas .v-field__clearable, .v-text-field__prefix, .v-field__input {
    align-items: flex-start !important;
    display: flex !important;
    padding: 10px !important;
    padding-right: 4px !important;
  }
  .divisas .border-line{
    outline: 1px solid rgba(0,0,0,0.5) !important;
  }
  .divisas .border-line:focus{
    outline: 2px solid #000 !important;
  }

  .divisas .v-input__details{
    display: none !important;
  }

  .btn-add-divisa{
    text-transform: none;
    color:#fff !important;
    border-radius:8px !important;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%);
    text-transform: none !important;
    letter-spacing: normal;
    padding: 15px !important;
    font-size: 18px;
    --v-btn-height: 0 !important;
    width: 220px;
  }
  .btn-outlined{
    text-transform: none;
    color: #2D2D8D !important;
    text-transform: none !important;
    letter-spacing: normal;
    padding: 15px !important;
    font-size: 18px;
    border-radius:8px !important;
    --v-btn-height: 0 !important;
    width: 220px;
  }
  .btn-delete-divisa{
    text-transform: none !important;
    letter-spacing: normal;
    padding: 18px !important;
    font-size: 18px;
    border-radius:8px !important;
    --v-btn-height: 0 !important;
  }

  .btn-color{
    text-transform: none !important;
    letter-spacing: normal;
    padding: 18px !important;
    font-size: 18px;
    border-radius:8px !important;
    --v-btn-height: 0 !important;
    width: 180px;
    color:#fff !important;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%);
  }
  .btn-seccion-principal{
    box-shadow: 0px 3.59116px 3.59116px rgba(50, 100, 200, 0.2) !important;
    height:100px;
    font-size: 18px;
    color: #2D2D8D !important;
    border-radius:10px !important;
    cursor:pointer;
  }
  .btn-seccion-principal:hover, .btn-seccion-principal:hover .color-svg{
    color:#fff !important;
    fill:#fff;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%);
  }
  .btn-seccion-principal-seleccionada{
    font-size: 18px;
    border-radius:8px !important;
    cursor:pointer;
    
    color:#fff !important;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%) !important;
  }

  .seleccionado{
    cursor:pointer;
  
    color: #fff !important;
    font-weight: 600;
    padding: 25px;
    
    height:150px !important;
    border-radius: 10px;
    border: 5px solid transparent;
    background: linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%) border-box;

  }

  .seleccionado_img{
    cursor:pointer;
  
    color: #fff !important;
    font-weight: 600;
    padding: 25px;
    
    height:150px;
    border-radius: 10px;
    border: 5px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%) border-box;

  }

.logobanco{
	cursor:pointer;

  color: #2D2D8D !important;
  font-weight: 600;
	padding: 25px;
  height:150px !important;
  border-radius: 10px;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%) border-box;
}

.logobanco:hover{
	  border: 4px solid transparent;
	 background: linear-gradient(white, white) padding-box,
              linear-gradient(90deg, #48ADFF -4.8%, #7661FE 47.6%, #9331FF 100%) border-box;
}
.img-top{
  border:2px solid rgba(0,0,0,0.2);
  max-width: 85px !important;
  max-height: 85px !important;
  min-width: 85px !important;
  min-height: 85px !important;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.v-card{
  box-shadow: 3.59116px 3.59116px 10px rgba(50, 100, 200, 0.15) !important
}



/* ************************   STILOS INPUTS   ************************ */


/* ************************   ANIMACIONES   ************************ */
